
  body {
  background-image: url(img/papel_veio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p{
    font-size:large;
    color:brown;
  
}